*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins',sans-serif;
	overflow-x: hidden;
}
.career1{
	text-decoration-color: white;
	background: linear-gradient(to 
		bottom,
		 black 0%,
		 black 65%,
		 white 65%,
		 white 100%
		);
	height: 100vh;
}
.career1 h1{
	font-size: 80px;
	padding-top: 180px;
	color: white;
	text-align: center;
}
.career1 p{
	color: black;
	font-size: 20px;
	border-style: hidden ;
	border-radius: 13px;
	margin: 150px 300px;
	padding: 30px;
	background: whitesmoke;
}
.b5{
	writing-mode: vertical-rl;
	transform: rotateZ(180deg);
	color: goldenrod;
	margin-top: -25%;
	font-size: x-large;
	margin-left: 0;
	position: fixed;

}
.Careers{
	text-decoration: none;
 display:flex;
 column-gap: 60px;
 margin: -300px 90px 30px 90px;
}
.Career2 img{
	padding-bottom: 45px;
	padding-left: 25px;
	width: 700px;
	height: 350px;
	}
.Career2  :hover{
	transform: translateY(-10px);
	transition: 0.6s;
}
.Career2 img{
	text-decoration: none;
}
.Career2 h3{
	color: darkgoldenrod;
}
.Career2 figcaption {
	text-align: center;
	font-style: italic;
	font-size: 25px;
	font-weight: 500;
	color: black;
}
.Career2 figcaption:hover{
	color: mediumblue;
}
.Careers1{
	text-decoration: none;
 display:flex;
 column-gap: 60px;
 margin: 100px 90px 30px 90px;
}
.Career3 h3{
	color: darkgoldenrod;
}
.Career3:hover{
	transform: translateY(-11px);
	transition: 0.6s;
}
.Career3  img{
width: 600px;
	height: 300px;	
}
.Career3 img{
	text-decoration: none;
}
.Career3 figcaption{
	text-align: center;
	text-decoration: none;
	color: black;
	font-size: 25px;
	font-style: italic;
}
.Career3 figcaption:hover{
	color: mediumblue;
}